bin
obj
csx
.vs
edge
Publish

*.user
*.suo
*.cscfg
*.Cache

/packages
/TestResults

/tools/NuGet.exe
node_modules/

__pycache__

*.ncrunchproject
*.ncrunchsolution
nCrunchTemp*

.fake/
artifacts/
/src/Azure.Functions.Cli/Properties/launchSettings.json
launchSettings.json

# MacOS related
.DS_Store