version: 1.0.{build}
image: Visual Studio 2017

branches:
  only:
  - master

clone_folder: c:\azure-functions-cli

environment:
  CLI_DEBUG: 1

build_script:
- cmd: build.cmd

test: off

artifacts:
- path: deploy\Azure.Functions.*.zip
  name: Release
- path: dist\test\*.html
  name: Test