version: {build}
image: Visual Studio 2017

clone_folder: c:\azure-functions-cli

build_script:
- cmd: build.cmd

artifacts:
- path: artifacts\Azure.Functions.*.zip
  name: Release
- path: artifacts\Azure.Functions.*.sha2
  name: Release

deploy:
- provider: AzureBlob
  storage_account_name: functionsclibuilds
  storage_access_key:
    secure: Ragovca8PBMRIjRGsY0Q0MCv7pw5sr06pov6ERYQIH+UWq9Jf0ILvSBZlO8o3mCIAKTf+khFKXeLqYAC6NFS0OvZ+n9GvcFVknSW5fmhOg/L8uYvXUXD4zXc9iO9t5Dh
  container: builds
  folder: 2/$(APPVEYOR_BUILD_VERSION)
  artifact: Release
  set_content_type: true
