#! /bin/bash

# Exit on errors
set -e

cd /home/site/wwwroot
if [ -d worker_venv ]; then
    rm -rf worker_venv
fi

pip install --target=./site_packages -r requirements.txt

# Bundle using pyinstaller
pip install pyinstaller==3.4
python /python_bundle_script.py /azure-functions-host/workers/python/worker.py  ./site_packages
rm -r ./site_packages ./build
rm worker-bundle.spec

apt-get update
apt-get install zip -y
zip --symlinks -r /app.zip .