#############################
# Core EditorConfig Options #
#############################

# top-most EditorConfig file
root = true

# No rule enforcement as this project is getting deprecated
[*]
dotnet_analyzer_diagnostic.severity = none
