<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
    <add key="azure_app_service_staging" value="https://www.myget.org/F/azure-appservice-staging/api/v2" />
    <add key="azure_app_service" value="https://www.myget.org/F/azure-appservice/api/v2" />
    <add key="java_worker" value="https://ci.appveyor.com/NuGet/azure-functions-java-worker-fejnnsvmrkqg" />
    <add key="powershell_worker" value="https://ci.appveyor.com/nuget/azure-functions-powershell-wor-0842fakagqy6" />
    <add key="node_worker" value="https://ci.appveyor.com/nuget/azure-functions-nodejs-worker-0fcvx371y52p" />
    <add key="webhost" value="https://ci.appveyor.com/NuGet/azure-webjobs-sdk-script-g6rygw981l9t" />
    <add key="fuse_labs" value="https://www.myget.org/F/fusemandistfeed/api/v2" />
    <add key="buildTools" value="https://www.myget.org/F/30de4ee06dd54956a82013fa17a3accb/" />
    <add key="xunit_myget" value="https://www.myget.org/F/xunit/api/v3/index.json" />
  </packageSources>
</configuration>