<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <RunConfiguration>
    <TestCaseFilter> (WorkerRuntime != Dotnet) &amp; (Group != RequiresNestedInProcArtifacts) &amp; (Group != UseInVisualStudioConsolidatedArtifactGeneration) &amp; (Group != UseInConsolidatedArtifactGeneration) &amp; (Group != UsesDotnetTemplates)</TestCaseFilter>
  </RunConfiguration>
</RunSettings>